@charset "UTF-8";

@media (min-width: 768px) {
    .container {
        width: 50vw;
        height: 300px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 600px;
        height: 300px;
    }
}